<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>Gateway</title>

<!-- Bootstrap -->
<link href="/statics/css/bootstrap.css" rel="stylesheet" />
<link href="/statics/css/font-awesome.css" rel="stylesheet" />
<link href="/statics/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="/statics/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"/>
<link href="/statics/css/createapi.css" rel="stylesheet"/>
<link href="/statics/css/jsoneditor.css" rel="stylesheet"/>
<link href="/statics/images/favicon.ico"  rel="Shortcut Icon"/>

</head>
<body>

#parse("template/nav.vm")




<div class="container-fluid center-content">
    <!-- 进度提示条 -->
    <div class="row">
        <ul class="nav nav-wizard" id="step-nav-box">
            <li step="1" class="active"><a href="#">步骤一</a></li>
            <li step="2"><a href="#">步骤二</a></li>
            <li step="3"><a href="#">步骤三</a></li>
            <li step="4"><a href="#">步骤四</a></li>
        </ul>
    </div>
    <div class="row">
        <div>
            <div class="panel panel-primary" style="margin-top:20px;min-height:300px;">
                <div class="panel-heading">
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary preStep"><span class="glyphicon glyphicon-menu-left"></span>上一步</button>
                    </div>
                    <span id="step-title" class="col-sm-10">API接口信息配置 </span>
                    <!--<button type="button" class="btn btn-primary hasApi"><span class="glyphicon glyphicon-search"></span>检测API是否存在</button>-->
                    <!--<button type="button" class="btn btn-primary hasMethod"><span class="glyphicon glyphicon-search"></span>检测Method</button>-->
                    <!--<button type="button" id="searchMethodMapping" class="btn btn-primary hasMapping"><span class="glyphicon glyphicon-search"></span>检测映射是否存在</button>-->

                    <div class="col-sm-1">
                    <button type="button" class="btn btn-primary nextStep" >下一步<span class="glyphicon glyphicon-menu-right"></span></button>
                    <!--<button type="button" class="btn btn-primary finalSave" flag="1" id="preview" >预览</button>-->
                    <button type="button" class="btn btn-primary finalSave save" flag="1" id="save" >保存</button>
                    <!--<button type="button" class="btn btn-primary finalSave save" flag="2" id="saveAndContinue" >保存&继续</button>-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- 选择配置JAVA还是PHP -->
                <!--<div class="page-header cut">-->
                    <!--<h3><small>1. API服务类型</small></h3>-->
                <!--</div>-->
                <!--<form class="form-inline apiType" id="apiType">-->
                    <!--<div class="form-group">-->

                        <!--

                        #if(2 == $!results.get('apiType'))
                            #if(0 == $!results.get('edit'))
                                <input type="radio" class="apiTypeLi" flag="PHP" name="apiType" value="2" checked/>
                                <label><p class="text-primary">JAVA</p></label>
                            #else
                                <input type="radio" class="apiTypeLi" flag="PHP" name="apiType" value="2" checked disabled/>
                                <label><p class="text-primary">JAVA</p></label>
                            #end
                        #else
                            #if(0 == $!results.get('edit'))
                                <input type="radio" class="apiTypeLi" flag="PHP" name="apiType" value="2" />
                                <label><p class="text-primary">JAVA</p></label>
                            #else
                                <input type="radio" class="apiTypeLi" flag="PHP" name="apiType" value="2" disabled/>
                                <label><p class="text-primary">JAVA</p></label>
                            #end
                        #end
                        -->

                        <!--<label class="control-label" style="margin-right:50px;">-->
                            <!--<input type="radio"  name="apiType" value="post" checked="checked" /> POST-->
                        <!--</label>-->
                        <!--<label class="control-label">-->
                            <!--<input type="radio"  name="apiType" value="post"/> GET-->
                        <!--</label>-->

                    <!--</div>-->
                <!--</form>-->
                <!--<div class="page-header cut">-->
                    <!--<h3><small>2. API接口配置信息</small></h3>-->
                <!--</div>-->



                <div id="apiconfig-box">
                <!-- 1. API接口配置 -->
                <div class="apiconfig1 active">
                    <div class="panel-body">
                        <div class="alert alert-danger" role="alert" style="display:none;" id="apiInfo"></div>
                        <form class="form-horizontal" id="apiInterfaceConfig">
                            <div class="form-group">
                                <label for="namespace" class="col-sm-4 control-label">namespace</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control required" name="namespace" id="namespace" placeholder="namespace" value="$!results.get('api').namespace">
                                </div>
                                <input type="button" class="btn hasApi" value="检测" style="display:none" />
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-4 control-label">method</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control required" id="name" name="method" placeholder="method" value="$!results.get('api').method">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="requestType" class="col-sm-4 control-label">请求方式</label>
                                #set($!apiID=$!results.get('api').id)
                                <div class="col-sm-6">
                                    <select id="requestType" name="requestType" class="form-control" >
                                        #if('POST' == $!results.get('api').requestType)
                                            <option value="POST" selected>POST</option>
                                            <option value="GET" >GET</option>
                                        #else
                                            <option value="POST" >POST</option>
                                            <option value="GET" selected>GET</option>
                                        #end
                                    </select>
                                    #if(1 == $!results.get('edit'))<input type="hidden" name="currentId"  value="$!results.get('api').id" > #else <input type="hidden" name="currentId"  value="-1" > #end
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="version" class="col-sm-4 control-label">version</label>
                                <div class="col-sm-6">
                                    <!--<input type="text" class="form-control required"  name="version" id="version" placeholder="version(example:1.0)" value="$!results.get('api').version">-->
                                    <select name="version" class="form-control" id="version">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <!--<span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="margin-top:10px;" class="needTip" data-toggle="tooltip" data-placement="top" title="版本号格式x.x.x"></span>-->
                            </div>

                            <div class="form-group">
                                <label for="apiGroup" class="col-sm-4 control-label">API分组</label>
                                #set($!apiID=$!results.get('api').id)
                                <div class="col-sm-6">
                                    <select id="apiGroup" name="groupId" class="form-control" >
                                        #foreach ($!group in $!results.get("grouplist"))
                                        #if($!group.alias == $!results.get('api').apiGroup)
                                        <option value="$!group.id" selected>$!group.name</option>
                                        #else
                                        #if($!results.get('group') != "all" && $!group.alias == $!results.get('group'))
                                        <option value="$!group.id" selected>$!group.name</option>
                                        #else
                                        <option value="$!group.id">$!group.name</option>
                                        #end
                                        #end
                                        #end

                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="isFreq" class="col-sm-4 control-label">频率控制</label>
                                <div class="col-sm-6">
                                    <select id="isFreq" name="frequencyControl" class="form-control" >#if(1 == $!results.get('api').frequencyControl)<option value="1" selected>是</option><option value="0" >否</option>#else<option value="1" >是</option><option value="0" selected>否</option>#end</select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="isInnerOuter" class="col-sm-4 control-label">区分内外请求</label>
                                <div class="col-sm-6">
                                    <select id="isInnerOuter" name="checkInner" class="form-control" >#if(1 == $!results.get('api').checkInner)<option value="1" selected>是</option><option value="0" >否</option>#else<option value="1" >是</option><option value="0" selected>否</option>#end</select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="describle" class="col-sm-4 control-label">功能描述</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control required" id="describle" name="apiDescription" placeholder="API简要功能描述" value="$!results.get('api').apiDescription">
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label for="scenarios" class="col-sm-4 control-label">使用场景</label>-->
                                <div class="col-sm-4" style="text-align: right;">使用场景</div>
                                <div class="col-sm-6">
                                    <textarea  rows="3" class="form-control required" id="scenarios" name="apiScene" placeholder="API使用场景" >$!results.get('api').apiScene</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label for="resultDemo" class="col-sm-4 control-label">示例</label>-->
                                <div class="col-sm-4" style="text-align: right;">结果示例</div>
                                <div class="col-sm-6">
                                    <textarea  rows="20" class="form-control required" id="resultDemo" name="resultDemo" placeholder="API结果示例" >$!results.get('api').resultDemo</textarea>
                                </div>
                            </div>

    #if($!results.get('api').id)
        <input type="hidden"  name="id"   value="$!results.get('api').id" />
    #else
        <input type="hidden"  name="id"   value="-1" />
    #end
                        </form>
                    </div>
                </div>

                <!-- 2. API 参数配置 （已去掉） -->

                <!-- 2. 方法&参数配置 -->

                <div class="methodconfig">
                    <div class="panel-body">
                        <div class="alert alert-danger" role="alert" style="margin-bottom:2px;display:none;" id="apiMethodInfo"></div>
                        <form class="form-horizontal" id="methodconfigform">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="namespaceMethodParam">serviceName</label>

                                <div  class="col-sm-6">
                                    <input type="text" style="min-width:180px;" class="form-control required" id="namespaceMethodParam" name="service" placeholder="serviceName" value="$!results.get('serve').service">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="nameMethodParam">method</label>

                                <div  class="col-sm-6">
                                    <input type="text" class="form-control required" id="nameMethodParam"  name="method" placeholder="method" value="$!results.get('serve').method">
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="url" class="col-sm-4 control-label"  id="apiUrl">url</label>
                                    <div  class="col-sm-6">
                                        #if(!$!results.get('serve').url)
                                            <input type="text" class="form-control" style="min-width:280px" name="url" id="url" placeholder="url" value="http://study.zitech.com">
                                        #else
                                            <input type="text" class="form-control required " style="min-width:280px" name="url" id="url" placeholder="url" value="$!results.get('serve').url">

                                        #end
                                    </div>

                            </div>

                            <div>
                                <label class="col-sm-4 control-label"  id="apiUrl">内部参数：</label>

                                <div id="serviceParamList" class="col-sm-6">
                                    <!--<div class="checkbox col-sm-2">-->
                                        <!--<label><input type="checkbox" value="111111" name="innerParams" >111111</label>-->
                                    <!--</div>-->
                                </div>
                            </div>

                            #if($!results.get('serve').id)
                                <input type="hidden"  name="id"   value="$!results.get('serve').id" />
                            #else
                                <input type="hidden"  name="id"   value="-1" />
                            #end
                        </form>
                    </div>
                </div>

                <!-- 3. JSON 解析与编辑（POST方法） -->
                <div class="json-parse">
                    <div class="panel-body">
                        <div class="alert alert-danger" role="alert" style="margin-bottom:20px;display:none;" id="jsonParseInfo"></div>
                        <form id="jsonparseForm">
                            <div class="col-sm-4">
                                <input type="button" class="btn btn-success" id="JSONparse-btn" style="margin-bottom:15px;" value="解析" />
                                <textarea class="form-control" id="json-input" name="requestDemo">$!results.get('param').requestDemo</textarea>
                            </div>

                            <textarea style="display:none" name="requestStructure" id="requestStructure"></textarea>

                            #if($!results.get('param').id)
                                <input type="hidden"  name="id"   value="$!results.get('param').id" />
                            #else
                                <input type="hidden"  name="id"   value="-1" />
                            #end
                        </form>

                        <div class="col-sm-8">
                        解析结果
                            <div style="color:#aaa;border-bottom: 1px solid rgb(221, 221, 221); padding-bottom: 3px;text-align:right;">
                                <span style="margin-right:15px">数据类型</span><span style="margin-right:46px">是否必填</span><span style="margin-right:94px">描述</span>
                            </div>

                            <form id="editor" class="json-editor expanded "></form>
                            <textarea id="parsedJSON" style="display:none">$!results.get('param').requestStructure</textarea><!--  编辑时，在这里保存数据库中取出来的，解析之后的JSON字符串  -->
                            <input type="hidden" id="jsonChecked" value="" />
                        </div>
                    </div>
                </div>

                <!-- 4. 预览 最后一步 -->
                <div class="data-review">
                    <div class="panel-body">
                        <div class="alert alert-danger" role="alert" style="margin-bottom:2px;display:none;" id="dataReviewInfo"></div>

                        <form class="form-horizontal">

                            <h4 style="margin-top:50px;text-align:center;">API接口配置</h4>
                            <div id="final-review-apiconfig"></div>

                            <h4 style="margin-top:50px;text-align:center;">内部方法及参数配置</h4>
                            <div id="final-review-method"></div>

                            <div id="review-jsonparse">
                                <h4 style="margin-top:50px;text-align:center;">参数配置</h4>
                                <div id="final-review-json"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 遮罩 Modal -->
<div class="modal fade" id="myHideModal" tabindex="-1" role="dialog" aria-labelledby="myHideLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myHideLabel">保存数据</h4>
            </div>
            <div class="modal-body text-center">
                <p><i class="icon-spinner icon-spin icon-2x updatingIcon"></i><span id="updateStatus">正在保存</span></p>
            </div>
        </div>
    </div>
</div>

<!-- PHP代码块 -->
<div class="modal fade" id="myPHPBatchModal" tabindex="-1" role="dialog" aria-labelledby="myPHPBatchModal" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="min-width:700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myHideApiLabel">PHP代码块</h4>

            </div>
            <div class="modal-body text-center" >
                <button type="button" id="sureBatchAdd" class="btn btn-primary" style="margin-right:35px;margin-bottom:5px;float:right;"><span class="glyphicon glyphicon-plus"></span>新增行</button>
                <textarea rows="6" style="width:600px;height:600px;" id="phpCode" placeholder="格式示例：'params' => ['keyword' => ['type' => 'String','desc' => '搜索条件，目前支持手机号、备注名、收货人姓名三种类型','required' => false,'default' => '','example' => '159******60',],'buyer_ids' => ['type' => 'String','desc' => '买家编号，多个编号用“,”分隔','required' => false,'default' => '','example' => '3838293428,3838293429',],],"></textarea>
            </div>
        </div>
    </div>
</div>

<!-- PHP method params 代码块 -->
<div class="modal fade" id="myPHPBatchMethodModal" tabindex="-1" role="dialog" aria-labelledby="myPHPBatchMethodModal" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="min-width:700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myHideMethodLabel">PHP代码块</h4>

            </div>
            <div class="modal-body text-center" >
                <button type="button" id="sureBatchAddMethod" class="btn btn-primary" style="margin-right:35px;margin-bottom:5px;float:right;">新增行</button>
                <textarea rows="6" style="width:600px;height:600px;" id="phpMethodCode" placeholder="格式示例："></textarea>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="configStep" value="1"/>
<input type="hidden" id="userName" value="$!results.get('user')"/>
<input type="hidden" id="edit" value="$!results.get('edit')" />
<input type="hidden" id="detail" value="$!results.get('detail')" />
<input type="hidden" id="initApiType" value="$!results.get('apiType')" />
<input type="hidden" id="apiParamNames" value="" />
<input type="hidden" id="methodParamNames" value="" />
<input type="hidden" id="innerParams" value="$!results.get('serve').innerParams" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/statics/js/jquery.js"></script>
<script src="/statics/js/bootstrap.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/statics/js/jquery.validate.js"></script>
<script src="/statics/js/jquery.metadata.js"></script>
<script src="/statics/js/bootstrap-datetimepicker.min.js"></script>
<script src="/statics/js/locales/bootstrap-datetimepicker.fr.js"></script>
<script src="/statics/js/highcharts.js"></script>
<script src="/statics/js/jquery.dataTables.min.js"></script>
<script src="/statics/js/jsonformat.js"></script>
<script src="/statics/js/createapi.js"></script>
<script src="/statics/js/jquery.jsoneditor.js"></script>
<script src="/statics/js/base.js"></script>
<footer style="margin-top:50px;">
    <hr>
    <p class="text-muted text-center">© zitech.com</p>
</footer>
</body>
</html>
