<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Gateway</title>

    <!-- Bootstrap -->
    <link href="/statics/css/bootstrap.css" rel="stylesheet" />
    <link href="/statics/css/font-awesome.css" rel="stylesheet" />
    <link href="/statics/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="/statics/css/release.css" rel="stylesheet" />
    <link href="/statics/images/favicon.ico"  rel="Shortcut Icon"/>

</head>
<body>

#parse("template/nav.vm")




<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="panel panel-primary" style="margin-top:88px;min-height:460px;">
                <div class="panel-heading">API 列表
                    <button type="button" class="btn btn-primary" flag="1" id="selectAll" style="float:right;margin:-7px -15px 0 0; border:0px;">全选</button>
#*
                    <button type="button" class="btn btn-primary" flag="1" id="sureReleasedApi" style="float:right;margin:-7px -1px 0 0; border:0px;">确定发布</button>
                                        #if($!results.get("isAdmin"))
                        <button type="button" class="btn btn-primary" id="physicalDeleteApi" style="float:right;margin:-7px -1px 0 0; border:0px;">物理删除</button>
                    #end
*#
                    <button type="button" class="btn btn-primary" flag="1" id="uploadApi" style="float:right;margin:-7px -1px 0 0; border:0px;">上传</button>
                    <button type="button" class="btn btn-primary" flag="1" id="releaseApi" style="float:right;margin:-7px -1px 0 0; border:0px;">下载</button>

                </div>
                <!-- List group -->
                <ul class="list-group" id="listAPI">
                    #foreach ($!apiElement in $!results.get("apilists"))
                            <li class="list-group-item apiElement ">
                                <a href="#">$!apiElement.namespace/$!apiElement.method/$!apiElement.version</a>
                                <input style="float:right" class="select" apiContent="$!{apiElement.namespace}/$!{apiElement.method}/$!{apiElement.version}"  apiId="$!apiElement.id" type="checkbox">
                                <span style="position: absolute;left:400px;color:#929292;">$!apiElement.apiDescription</span>
                                    <span style="position: absolute;right:200px;color:#929292;">
                                        #if('GET' == $!apiElement.requestType)
                                        GET
                                        #elseif('POST' == $!apiElement.requestType)
                                        POST
                                        #end
                                    </span>
                           </li>
                    #end
                </ul>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

<!-- Release Modal -->
<div class="modal fade" id="myReleaseModal" tabindex="-1" role="dialog" aria-labelledby="myReleaseLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:160px;">
        <div class="modal-content" style="margin-top:-100px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myReleaseLabel">下载API</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="fromDev" class="col-sm-2 control-label">From: </label>
                        <div class="col-sm-6" style="margin-left:16px;">
                            <p name="fromDev" id="fromDev">dev</p>
                        </div>
                        <!--<input type="text" class="form-control" name="fromDev" id="fromDev" placeholder="Enter request URL here">-->
                    </div>
                    <div class="form-group">
                        <label for="ToDev" class="col-sm-2 control-label" style="margin-top:-6px;">To: </label>
                        <div class="col-sm-6">
                            <select style="min-width:50px;max-height:28px;margin-top:-12px;" id="ToDev"  name="ToDev" class="form-control" >
                                <option id="devRelease" value="1" selected>dev</option>
                                <option id="testRelease" value="2" >test</option>
                                <option id="productRelease" value="3" >product</option>
                            </select>
                        </div>

                    </div>
                </form>
                <div class="panel panel-default releasingApi">
                    <div class="panel-heading">
                        <h3 class="panel-title">本次有<span id="numbers"></span>条API从<span id="fromEnv"></span>发布到<span id="toEnv"></span>环境中</h3>
                    </div>
                    <div class="panel-body" style="max-height:246px;overflow-y:auto;padding:-15px;padding:0;">
                        <!-- List group -->
                        <ul class="list-group" id="releaseApiList">

                        </ul>
                    </div>
                </div>

            </div>
            <div class="alert alert-danger" role="alert" style="margin-bottom: -1px;display:none;" id="apiReleaseInfo"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="sureRelease">下载</button>
            </div>
        </div>
    </div>
</div>

<!-- upload Modal -->
<div class="modal fade" id="myUploadModal" tabindex="-1" role="dialog" aria-labelledby="myUploadLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:160px;">
        <div class="modal-content" style="margin-top:-100px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myUploadLabel">发布API</h4>
            </div>
            <div class="modal-body">
                <form target="_self" id="uploadForm" url="releaseupload"   method="post" enctype="multipart/form-data">
                    <div class="form-group" id="uploadFormBody">
                        <label for="file">File input</label>
                        <input type="file" name="file" id="file">
                    </div>
                <div id="uploadResultTable">

                </div>


              #*  <div class="alert alert-danger" role="alert" style="margin-bottom: -1px;display:none;" id="apiUploadInfo"></div>*#
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                    <a id="sureUpload" class="btn btn-primary">上传</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>



<input type="hidden" id="user" value="$!results.get('user')" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/statics/js/jquery.js"></script>
<script src="/statics/js/bootstrap.js"></script>
<script src="/statics/js/jquery.validate.min.js"></script>
<script src="/statics/js/jquery.metadata.js"></script>
<script src="/statics/js/jquery.dataTables.min.js"></script>
<script src="/statics/js/jquery.form.js"></script>
<script src="/statics/js/icheck.js"></script>
<script src="/statics/js/release.js"></script>
<script src="/statics/js/base.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<footer style="margin-top: -20px;">
    <hr>
    <p class="text-muted text-center">© zitech.com</p>
</footer>
</body>
</html>
